/* General Styles */
body {
    font-size: 13px;
}

.heading {
    margin: 0, auto;
}

.textButton {
    margin-top: 3px;
    padding: 3px;
    background-color: #00c000;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 17px;
}

li {
    list-style: none;
}

.formDiv {
    margin-top: 2px;
    border: 2px solid black;
}

.lineForm {
    display: inline-block;
}

/* Modals */
.genModal {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    font-size: 13px;
}

.genModalForm {
    position: relative;
    width: 85%;
    background-color: #f0e0f0;
    z-index: 10;
    margin-top: 10px;
    margin-left: 5px;
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 5px;
    border: 1px solid #604060;
    border-radius: 8px;
}
/* Main Page */
#statusDiv {
    display: none;
}

#statusPara {
    color: red;
    font-style: italic;
}

/* Entity Description */
#entityDescription {
    display: block;
}

.sectionHead {
    margin-bottom: 2px;
}

.entityPara {
    margin-bottom: 1px;
    margin-top: 1px;
}

.dataList {
    height: 200px;
    overflow: auto;
    border: solid black 1px;
}

.codeList {
    height: 250px;
    overflow: auto;
    border: solid black 1px;
    font-size: 11px;
    list-style-type: none;
}

.paramsRow {
    padding: 4px;
    border: 1px solid black;
}

/* Ins Set List Selection */
#insSetListDiv {
    display: none;
}

/* Start Rule Selection */
#startRuleDiv {
    display: none;
}

/* Seed Selection */
#seedSelectionDiv {
    display: none;
}

#seedDetails {
    display: none;
}

/* Seed Rule Selection */
#seedRuleSelectionDiv {
    display: none;
}

/* SubOpt Rule Selection */
#subOptRuleSelectionDiv {
    display: none;
}

/* Rule Selection */
#ruleSelectionDiv {
    display: none;
}

/* Score List */
#scoreListBackground {
    display: none;
}

#scoreListMain {
    height: 480px;
    overflow: auto;
    border-radius: 0;
}

#scoreListTable thead {
    position: sticky;
    top: 0;
    background: #f0f0f0;
    z-index: 1;
}

#scoreListTable th {
    border: 1px solid black;
}

#scoreListTable td {
    border: 1px solid black;
}

/* Score History */
#scoreHistoryBackground {
    display: none;
}

#scoreHistoryDiv {
    height: 450px;
    overflow: auto;
}

/* Weights View */
#weightsBackground {
    display: none;
}

#weightsTitleDiv {
    background-color: #d0d060;
}

#weightsMain {
    height: 250px;
    overflow: auto;
}

#weightsTable {
    border: 1px solid black;
    font-size: 12px;
    border-collapse: collapse;
}

#weightsTable th {
    border: 1px solid black;
}

#weightsOccurrencesTable td {
    width: 32px;
    border-collapse: collapse;
    border: 1px solid black;
}

#weightsLinks {
    display: none;
    overflow: auto;
}

#weightsLinksTable {
    border: 1px solid black;
    font-size: 12px;
    border-collapse: collapse;
}

#weightsLinksTable td {
    width: 58px;
    border-collapse: collapse;
    border: 1px solid black;
}

/* Breed Table */
#breedTableBackground {
    display: none;
}

#breedTableHeaderDiv {
    background-color: #d0d060;
}

#breedTable {
    border: 1px solid black;
    font-size: 12px;
    border-collapse: collapse;
}

#breedTable td,th {
    border: 1px solid black;
}

/* Restore Rule Seed */
#restoreRuleSeedBackground {
    display: none;
}

#restoreRuleSeedSelectionsList {
    background: white;
    border: 1px solid black;
    min-height: 10px;
}

/* Trace Window */
#traceScoreListButton {
    display: none;
}

#executionCountPara {
    display: none;
}

/* Test Elements */
.testList {
    height: 450px;
    overflow: auto
}